{% extends 'base.html' %}
{% load static %}
{% block title %}Acesso Negado{% endblock %}

{% block content %}
<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <p class="text-base font-semibold text-red-600">403</p>
    <h1 class="mt-4 text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">
      Acesso Negado
    </h1>
    <p class="mt-6 text-lg text-gray-500">
      Desculpe, não tem permissão para aceder a esta página.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a href="{% url 'main_menu' %}" class="rounded-md bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow hover:bg-blue-500">
        Voltar ao Menu Principal
      </a>
    </div>
  </div>
</main>
{% endblock %}
