{% extends 'management/base.html' %}
{% load static %}

{% block title %}Listar Updates de Fios{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold text-white mb-6">Lista de Updates de Fios</h1>

<div class="overflow-x-auto w-full max-w-7xl bg-white rounded-lg shadow-lg p-6">
    <table id="fiosUpdateTable" class="min-w-full table-auto">
        <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                <th class="py-3 px-6 text-left">Fio</th>
                <th class="py-3 px-6 text-left">Action</th>
                <th class="py-3 px-6 text-left">Previous Quantity</th>
                <th class="py-3 px-6 text-left">New Quantity</th>
                <th class="py-3 px-6 text-left">Date Updated</th>
                <th class="py-3 px-6 text-left">Updated By</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
            {% for at in updates %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left">
                    {{ at.fio.size }}mm
                </td>
                <td class="py-3 px-6 text-left">
                    {{ at.get_action_display }}
                </td>
                <td class="py-3 px-6 text-left">
                    {{ at.previous_quantity }}
                </td>
                <td class="py-3 px-6 text-left">
                    {{ at.new_quantity }}
                </td>
                <td class="py-3 px-6 text-left">
                    {{ at.date_updated|date:"d/m/Y H:i" }}
                </td>
                <td class="py-3 px-6 text-left">
                    {{ at.user.username }}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="py-3 px-6 text-center">Nenhuma atualização de fio encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}