{% extends 'management/base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen px-4">
    <h1 class="text-3xl font-bold mb-8 text-center">Menu Agulhas</h1>

    <div class="flex flex-col gap-4 w-full max-w-md sm:max-w-lg md:justify-center">
        <a href="{% url 'listar_agulhas' %}" class="w-full">
            <button class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded shadow transition">
                Listar Agulhas/ Adicionar Agulhas
            </button>
        </a>

        <a href="{% url 'historico_agulhas' %}" class="w-full">
            <button class="w-full bg-green-700 hover:bg-green-800 text-white font-bold py-3 px-6 rounded shadow transition">
                Histórico movimentos de Agulhas
            </button>
        </a>

        <a href="{% url 'nova_agulha' %}" class="w-full">
            <button class="w-full bg-gray-500 hover:bg-gray-600 text-white font-bold py-3 px-6 rounded shadow transition">
                Criar Novo Agulha
            </button>

    </div>
</div>
{% endblock %}