{% extends 'management/base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen px-4">
    <h1 class="text-3xl font-bold mb-8 text-center">Menu Stock Geral</h1>

    <div class="flex flex-col gap-4 w-full max-w-md sm:max-w-lg md:justify-center">
        <a href="{% url 'menu_po' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Menu Po
            </button>
        </a>

        <a href="{% url 'menu_fio' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Menu Fio
            </button>
        </a>

        <a href="{% url 'menu_stock' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Menu Stock Geral
            </button>
        </a>

        <a href="{% url 'menu_agulhas' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Menu Agulhas
            </button>
        </a>

        <a href="{% url 'menu_fornecedor' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Menu Fornecedores
            </button>
        </a>

        <a href="{% url 'menu_maquinas' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Menu Máquinas
            </button>

    </div>
</div>
{% endblock %}