{% extends 'management/base.html' %}
{% load static %}

{% block content %}
<div class="flex flex-col justify-center items-center min-h-screen px-4">
    <h1 class="text-3xl font-bold mb-8 text-center">Menu Stock Geral</h1>

    <div class="flex flex-col gap-4 w-full max-w-md sm:max-w-lg md:justify-center">
        <a href="{% url 'listar_stock' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Listar Stock
            </button>
        </a>

        <a href="{% url 'historico_stock' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Histórico movimentos de Stock
            </button>
        </a>

        <a href="{% url 'novo_stock' %}" class="w-full">
            <button class="w-full bg-[#00b7ed] hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg shadow-md transition-colors duration-300">
                Criar novo Produto
            </button>
        </a>
    </div>
</div>
{% endblock %}